<div class="panel panel-default">
    <div class="panel-body">
        <h3>All Books</h3>
        <div>
            <ul>
                <li data-ng-repeat="book in vm.allBooks">{{book.title}} - {{book.author}} <a href="#/editBook/{{book.book_id}}">Edit</a></li>
            </ul>
        </div>

        <hr>

        <h3>All Readers</h3>
        <div>
            <ul>
                <li data-ng-repeat="reader in vm.allReaders">{{reader.name}} - {{vm.getBadge(reader.totalMinutesRead)}}</li>
            </ul>
        </div>

    </div>

</div>