<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div data-ng-controller="BooksController as books">
        <h1>Hello World {{books.appName}} ({{books.appDesc}}) 123!</h1>

        <h3>All Books</h3>
        <div>
            <ul>
                <li data-ng-repeat="book in books.allBooks">{{book.title}} - {{book.author}}</li>
            </ul>
        </div>

        <hr>

        <h3>All Readers</h3>
        <div>
            <ul>
                <li data-ng-repeat="reader in books.allReaders">{{reader.name}} - {{books.getBadge(reader.totalMinutesRead)}}</li>
            </ul>
        </div>
    </div>

    <script src="components/angular/angular.js" ></script>
    <script src="components/angular-mocks/angular-mocks.js" ></script>

    <script src="app/app.js" ></script>
    <script src="app/books/BooksController.js" ></script>
    <script src="app/services/dataService.js" ></script>
    <script src="app/services/loggerService.js" ></script>
    <script src="app/services/constantService.js" ></script>
    <script src="app/services/badgeService.js" ></script>
</body>
</html>